<div class="categories_list">
	<h2>About Us</h2>
	<p>
		Gives Me Hope is where people share with the world their most hopeful, uplifting moments – one paragraph stories of amazing friends, true love, and random acts of kindness.
	</p> 
	<p>
	Gives Me Hope was launched in July 2014 in response to the popular site, we're exhausted by the negativity of society and the mainstream media. We're tired of hearing about what's wrong in this world. That's why we created Gives Me Hope.
	</p>
	<p>
	Here, on Stories we publish only the highest quality stories from great writers around the world. To have work published on Story blog is testament to the finest writing ability. Once published, we share your success with others, announce your achievement on Twitter, and give good writing, great publicity. 
	</p>
</div>